@import "../../assets/scss/colors.scss";

.Button {
    &:not(:disabled) {
        border: none;
    }

    &:disabled {
        background-color: white;
        border: 2px solid $orange;
    }

    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    box-shadow: 4px 8px 8px rgba(43.9, 43.9, 43.9, 0.2);
    transition: all 0.3s ease;
    outline: none;

    &.Primary {
        &:not(:disabled) {
            background-color: $orange;
            color: white;
        }

        &:disabled {
            color: $gray;
        }
        text-transform: uppercase;
        font-family: Arimo;
    }

    &.Primary.secondary {
        // border: 3px solid $orange;
        background-color: white;
        // color: $gray;
        color: black;
    }

    &:hover {
        z-index: 100;
        transform: scale(1.01);
        box-shadow: 4px 8px 10px rgba(43.9, 43.9, 43.9, 0.5);
    }

    @media only screen and (min-width: 1367px) {
        font-size: 1rem;
    }
    @media only screen and (max-width: 1366px) {
        font-size: 0.9rem;
    }
}
