<nav>
    <img src="./assets/img/logo.png" alt="logo" id="logo"/>
    <ul id="nav">
        <li>Home</li>
        <li>Products</li>
        <li>Services</li>
        <li>Gallery</li>
        <li>Testimonials</li>
        <li>Contact</li>
        <li>Blogs</li>
        <li>Commercial</li>
    </ul>
    <div id="social">
        <ul>
            <li id="facebook"></li>
            <li id="linkedin"></li>
            <li id="email"></li>
            <li id="instagram"></li>
        </ul>
    </div>
</nav>