<nav>
    <img src="./assets/img/logo.png" alt="logo" id="logo"/>
    <ul id="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Commercial</a></li>
    </ul>
    <div id="social">
        <ul>
            <li id="facebook"></li>
            <li id="linkedin"></li>
            <li id="email"></li>
            <li id="instagram"></li>
        </ul>
    </div>
</nav>