#addBlog {
    margin-top: 2em;
    margin-left: 40em;
}

form {
    width: 44em;
}

button {
    width: 20em;
    height: 2em;
    font-size: 2em;
}

button:first-of-type {
    margin-bottom: 2em;
}

button:last-of-type {
    margin-top: 2em;
}

#sectionBtns {
    margin-top: 4em;
    margin-bottom: 4em;
}

#sectionBtns > button {
    margin: 0;
}

#sectionBtns > button:last-of-type {
    margin-top: 0.5em;
}

#sectionBtns > button:first-of-type {
    display: none;
}

form > div > label {
    display: block;
}

label, input, textarea {
    font-size: 1.25em;
}

input[type=text]{
    width: 31.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

textarea {
    width: 39em;
    height: 10em;
    display: block;
    resize: none;
}

input[type=submit], input[type=reset] {
    font-size: 2em;
    width: 30%;
}

input[type=file] {
    margin-top: 0.5em;
    margin-bottom: 2em;
}