#addBlog {
    margin-top: 2em;
}

form {
    width: 44em;
}

button {
    width: 20em;
    height: 2em;
    font-size: 2em;
}

h1 {
    margin-bottom: 1em;
}

button:first-of-type {
    margin-bottom: 2em;
}

button#delete {
    margin-top: 2em;
}

#sectionBtns {
    margin-top: 4em;
    margin-bottom: 4em;
}

#sectionBtns > button {
    margin: 0;
}

#sectionBtns > button:last-of-type {
    margin-top: 0.5em;
}

#sectionBtns > button:first-of-type {
    display: none;
}

form > div > label {
    display: block;
}

label, input, textarea {
    font-size: 1.25em;
}

input[type=text]{
    width: 31.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

textarea {
    width: 39em;
    height: 10em;
    display: block;
    resize: none;
}

input[type=submit], input[type=reset] {
    font-size: 2em;
    width: 30%;
}

input[type=file] {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

select {
    display: block;
    margin-top: 1em;
}

#AddCategory, #AddTag {
    width: 14em;
    height: 2em;
    margin-top: 1em;
    font-size: 1.25em;
}

#holders {
    width: 40em;
    display: flex;
    justify-content: space-between;
}

.AddNew {
    width: 25em;
    height: 15em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 5px;
    border: 1px solid var(--gray);
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-left: -22em;
    margin-top: -12.5em;
    background-color: var(--offwhite);
}

.AddNew > input {
    width: 20em;
}

.AddNew > div > button {
    width: 6em;
    height: 1.75em;
    font-size: 1.5em;
}

.AddNew > div {
    width: 25em;
    display: flex;
    justify-content: space-between;
}