:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../../../assets/fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../../../assets/fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../../../assets/fonts/rimo-Regular.ttf)
}

form#login {
    background-color: var(--gray);
}

#login > input[type=submit] {
    width: 25em;
}