<!-- To display a single blog post, gallery will be an overlay on top of the existing page -->
 
{{ partial "header" . }}

<div class="content container">

  {{ if eq .Section "blog" }}
  <div id="blogPostBannerImgContainer">
      <img id="blogPostBanner" alt="bannerImage" src="{{ .Params.image }}" class="blogPostBanner" />
  </div>
  <h1 class="BlogPost title">{{ upper .Params.title }}</h1>
  <div id="description">
      <div>
          <strong>{{ safeHTML .Params.description }}</strong>
      </div>
      <p id="author">
          <span>BY OAKVILLE WINDOWS & DOORS</span>
          <span>{{ dateFormat "January 2, 2006" .Params.Date }}</span>
      </p>
      <span id="blogSocial">
          <a href="#"><img class="social footerImg" id="instagram" alt="instagram" src="/img/instagramOrange.png" /></a>
          <a href="#"><img class="social footerImg" id="facebook" alt="facebook" src="/img/facebookOrange.png" /></a>
          <a href="#"><img class="social footerImg" id="twitter" alt="twitter" src="/img/twitterOrange.png" /></a>
          <a href="#"><img class="social footerImg" id="linkedIn" alt="linkedIn" src="/img/linkedInOrange.png" /></a>
          <a href="#"><img class="social footerImg" id="email" alt="email" src="/img/emailOrange.png" /></a>
      </span>
      <div id="blogPost">
        {{ range $i, $section := .Params.section }}
        <div class="contents" id="content{{ $i }}">
        <h2 class="BlogPost">{{ safeHTML $section.heading}}</h2>
        <div>{{ safeHTML $section.content}}</div>
        {{ end }}
      </div>
  </div>
  <div id="recent">
      <h3 class="BlogPost">RECENT POSTS</h3>
      <div>
        {{ range $_, $post := where .Site.Pages "Section" "blog" }}
          {{ if .Params.title }}
          <a class="recentBlog" href="{{ .Permalink }}">
              <div class="recentImgContainer">
                  <img alt="small1" src="{{ .Params.image }}"/>
              </div>
              <h4 class="BlogPost">{{ .Params.title }}</h4>
          </a>
          {{ end }}
        {{ end }}
      </div>
  </div>
  {{ else if eq .Section "gallery" }}
  {{ end }}
  {{ .Content }}
</div>

{{ partial "footer" . }}