:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}

@media only screen and ( min-width: 1200px )
{
    h1 {
        margin-bottom: 2.25em !important;
        font-size: 4em;
    }

    .aboutLinks {
        color: var(--orange);
        transition: color 0.25s;
        display: inline-block;
        text-decoration: none;
        height: 1.75em;
    }

    .aboutLinks > h2 {
        margin-top: 0em;
    }

    ul#aboutNav {
        margin-top: -7em;
        margin-left: 1em;
    }

    ul#aboutNav > li {
        list-style-type: none;
        display: inline-block;
    }

    ul#aboutNav > li:hover > a {
        color: var(--gray);
    }

    #firstAboutLink, #secondAboutLink, #thirdAboutLink {
        padding-right: 1.5em;
        border-right: 3px solid var(--orange);
    }

    #secondAboutLink, #thirdAboutLink, #fourthLink {
        padding-left: 1.5em;
    }

    #thirdAboutLink {
        margin-right: 1.5em;
    }

    #bannerLogo {
        text-align: center;
        margin-top: 15em;
        margin-bottom: 15em;
    }

    .contentHeader {
        font-size: 4em;
        padding-bottom: 0.1em;;
    }

    .blackHeader {
        color: black;
        border-bottom: 7px solid black;
    }

    .orangeHeader {
        color: var(--orange);
        border-bottom: 7px solid var(--orange);
    }

    #who, #what {
        width: 6em;
    }

    #warranty {
        width: 4.5em;
    }

    #our {
        width: 6.5em;
    }

    .orange {
        background-color: var(--orange);
    }

    .seperator {
        padding-left: 8em;
        padding-top: 3em;
        padding-bottom: 6em;
    }

    .seperator > p {
        width: 80%;
        font-size: 2em;
        line-height: 1.5em;
    }

    .block {
        margin-bottom: 2em;
    }

    #items {
        margin-top: 5em;
        margin-bottom: 15em;
    }

    .icon#localIcon {
        width: 5em;
    }

    .icon#pricingIcon {
        width: 10em;
    }

    .icon#showroomIcon {
        width: 8em;
    }

    .icon#warrantyIcon {
        width: 6em;
    }

    .icon {
        width: 7em;
        margin-bottom: 2em;
    }

    .layer { 
        margin-bottom: 0em;
    }

    .layer  > * {
        display: inline-block;
        text-align: center;
    }

    .icons {
        margin-bottom: 1em;
        margin-left: 3em;
    }

    .icons > div {
        width: 30%;
    }

    .labels {
        display: flex;
        margin-bottom: 10em;
    }

    .firstLabel {
        margin-left: 4.5em;
        margin-right: 3.25em;
    }

    .secondLabel {
        margin-right: 2.75em;
    }

    .labels > div {
        width: 25%;
    }

    .labels > div > p {
        width: 100%;
        color: var(--gray);
    }

    .labels > div > h3 {
        display: inline-block;
    }
}