:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/rimo-Regular.ttf)
}

#main {
    margin: 0 auto;
    text-align: center;
}

#main > * {
    display: inline-block;
    text-align: left;
}

html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Arimo;
}