:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}

@media only screen and ( min-width: 1200px )
{
    .banner {
        width: 1250px;
        height: 450px;
        margin-top: 5em;
    }

    #main > h1 {
        text-align: center;
        margin-left: -0.25em;
    }

    #description > p {
        font-family: Arimo;
        margin-left: 5.25em;
        margin-right: 4em;
        line-height: 1.5em;
        margin-bottom: 2em;
    }

    #author {
        color: var(--gray);
    }

    #author > span:first-of-type {
        margin-right: 4em;
        margin-left: 8em;
    }

    #blogSocial {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25em;
        margin-bottom: 5em;
    }

    #blogSocial > a:not(:last-of-type) {
        margin-right: 2.5em;
    }

    #blogPost {
        margin-left: 6em;
        margin-right: 5em;
    }

    h2 {
        color: var(--orange);
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    .contents > p {
        line-height: 1.5em;
    }

    .contents > p:not(:last-of-type) {
        margin-bottom: 2em;
    }

    .contents > ul {
        margin-left: -2.25em;
    }

    .contents > ul > li {
        list-style-type: none;
        font-size: 1.25em;
        line-height: 1.5em;
    }

    .contents > ul > li:before {
        content: '- ';
    }

    .contents {
        margin-bottom: 3em;
    }

    #recent {
        margin-top: 10em;
    }

    h3 {
        font-size: 2em;
        text-align: center;
    }

    .recent > div {
        height: 10em;
    }

    .recentBlog {
        width: 22%;
        margin-top: 2em;
        height: 100%;
        display: inline-block;
        margin-bottom: 5em;
        vertical-align: top;
    }

    .recentBlog:first-of-type {
        margin-left: 1.75em;
    }

    .recentBlog:not(:last-of-type) {
        margin-right: 2em;
    }

    h4 {
        font-size: 1.25em;
    }
}