:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}

@media only screen and ( min-width: 1200px )
{
    #main > h1 {
        margin-bottom: 1em;
    }

    #pageDescription { 
        color: var(--orange);
        line-height: 1.5em;
        font-size: 1.5em;
        width: 40em;
        margin-left: 2.25em;
    }

    #container {
        margin-left: 3em;
    }
}