:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@media only screen and ( min-width: 1200px )
{
    footer {
        margin-top: 2em;
        padding: 0;
        position: relative;
        height: 20em;
        padding-bottom: 8em;
    }

    footer > hr {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border: 1px solid var(--gray);
        width: 90%;
        display: block;
    }

    #footerContents {
        margin-top: 6em;
        padding-bottom: 6em;
    }

    .footerImg {
        width: 2.5em;
    }

    #leftFooter {
        float: left;
        margin-left: 8em;
    }

    #rightFooter {
        float: right;
        margin-right: 8em;
        margin-top: 1em;
    }

    #social { 
        padding-bottom: 1em;
    }

    #footerNav {
        margin-top: 2em;
    }

    #footerNav > div > a > h3 {
        margin-bottom: 0.5em;
    }

    .footerHdr {
        display: inline-block;
    }

    #leftFooter > .footerHdr, #location > .footerHdr {
        font-size: 1.5em;
    }

    #social > * {
        margin-right: 1.25em;
    }

    #footerNav > div > a > .footerHdr {
        width: 8em;
        text-align: left;
        font-size: 1.25em;
    }

    #leftFooter > .footerHdr {
        width: 15em;
        text-align: left;
        line-height: 1.5em;
    }

    #location {
        margin-bottom: 1em;
        padding-left: 3em;
    }

    #locationImg > img {
        padding-top: 1em;
        margin-left: -3em;
    }

    #location > #locationImg, #location > .footerHdr {
        display: inline-block;
    }

    #location > .footerHdr {
        padding-left: 1em;
        vertical-align: top;
    }

    #footerNav > div > a, #footerNav > div > a:visited {
        color: black;
        transition: color 0.25s;
    }
    
    #footerNav > div > a:hover {
        color: var(--orange);
    }
}