:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}



@media only screen and ( min-width: 1200px )
{
    .selected {
        color: var(--orange);
    }

    nav {
        display: inline-block;
        height: 5em;
        margin-bottom: 2em;
        width: 1250px;
        font-family: "Arimo";
        direction: ltr;
    }

    nav > *, ul#nav > li {
        display: inline-block;
    }

    ul#nav {
        width: 850px;
    }

    ul#nav > li {
        vertical-align: middle;
        height: 5em;
    }

    ul#nav > li > a {
        text-decoration: none;
        width: 100%;
        display: block;
        color: var(--gray);
        height: 100%;
        margin-left: 1.75em;
        transition: color 0.25s;
        padding-top: 0.5em;
    }

    ul#nav > li:hover > a {
        color: var(--orange);
        cursor: pointer;
    }

    #logo {
        height: 5em;
        max-width: 100%;
        margin-left: 2em;
        margin-top: 2em;
    }
}