:root {
    --orange: #FFA800;
    --gray: #888C8D;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}

html {
    height: auto;
    color: black;
    background-color: white;
    font-family: "Arimo";
    width: 100vw;
    letter-spacing: 0.4pt;
    overflow-x: hidden;
}
h1,h2,h3,h4,p {
    font-family: "Arimo";
}

body {
    text-align: center;
}

#main {
    text-align: left;
    margin: 0 auto;
    width: 1200px;
}

nav {
    display: inline-block;
    height: 5vh;
}

nav > *, ul#nav > li {
    display: inline-block;
}

ul#nav {
    width: 900px;
}

ul#nav > li {
    color: black;
    vertical-align: middle;
    height: 5vh;
    margin-left: 2vw;
    transition: color 0.25s, font-size 0.25s;
}

ul#nav > li:hover {
    color: var(--orange);
    font-size: larger
}

#logo {
    height: 5vh;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a#3Point {
    color: white !important;
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    margin-left: 1em;
    margin-bottom: 2em;
}

#services {
    margin-top: 2em;
    margin-bottom: 10em;
}

#windowInstallation > div, #doorInstallation > div {
    position: relative;
}

#windowInstallation > .orange, #doorInstallation > .gray {
    height: 30vh;
    color: white;
    vertical-align: bottom;
    width: 70%;
}

#windowInstallation > .orange {
    background-color: var(--orange);
    margin-left: 30%;
}

#doorInstallation > .gray {
    background-color: var(--gray);
    margin-right: 30%;
}

h2, .arrow {
    position: absolute;
    bottom: 0;
}

h2 {
    font-size: 2em;
    margin-left: 250px;
    margin-bottom: 75px;
}

.arrow {
    width: 3em;
    bottom: 1.75em;
    left: 325px;
}

#windowInstallation > div > div > #windowArrow, #doorInstallation > div > div > #doorArrow {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#windowInstallation:hover > div > div > #windowArrow, #doorInstallation:hover > div > div > #doorArrow {
    visibility: visible;
    opacity: 1;
}

.blurb {
    width: 35%;
    margin: 2em;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
    line-height: 1.5em;
    margin-top: 5em;
}

#doorInstallation > .blurb {
    float: right;
    margin-right: 10em;
    padding-left: 2em;
}

#windowInstallation > .blurb {
    float: left;
    margin-left: 10em;
}

h3 {
    letter-spacing: 0.1pt;
    font-size: 1.75em
}

.seperator {
    background-color: var(--orange);
    height: 20em;
    font-size: 2.25em;
    letter-spacing: 1.5px;
    line-height: 1.25em;
    text-align: center;
}

.seperator > p {
    text-align: left;
    padding: 5em;
}

/*
    h1 - 95 pt
    h2 - 66pt
    h3- 60pt
    h4 - 40pt 
    seperator - 71pt
    seperator > a - 65pt
    p - 32 pt
*/