:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}

@media only screen and ( min-width: 1200px )
{
    h1 {
        margin-top: 3em !important;
    }

    h2 {
        margin-top: -2em;
        margin-left: 2.5em;
        margin-bottom: 10em;
    }

    h3 {
        font-size: 1.5em;
    }

    #testimonials {
        margin-left: 4em;
    }

    .individual {
        position: relative;
        z-index: 1;
        margin-bottom: 15em;
        margin-left: 2em;
    }

    .quote {
        position: absolute;
        z-index: 3;
        top: -5em;
    }

    .quote > img {
        width: 8em;
    }

    .leftQuote {
        left: 19em;
    }

    .rightQuote {
        left: -2em;
    }

    .from {
        width: 25%;
        color: var(--orange);
        z-index: 1;
        margin-top: 10em;
    }

    .from > hr {
        border: 1px solid var(--orange);
    }

    .from > h3 {
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }
    
    .leftFrom {
        float: left;
    }

    .rightFrom {
        float: right;
        margin-right: 2em;
    }

    .rightFrom > h3 {
        margin-left: 5em;
    }

    .review {
        width: 55%;
        color: white;
        background-color: var(--gray);
        padding-top: 1em;
        padding-bottom: 3em;
        padding-left: 6em;
        padding-right: 3em;
        position: relative;
        z-index: 2;
    }

    .review > p {
        line-height: 1.5em;
    }

    .leftReview {
        margin-left: 30%;
    }

    .rightReview {
        margin-left: 1em;
    }
}