#Blog {
    .blurb {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 100%;
        padding: 0 2rem;
        // @media only screen and (min-width: 654px) {
        //     & {
        //         align-items: flex-start;
        //     }
        // }
        // @media only screen and (max-width: 653px) {
        //     & {
        //         align-items: center;
        //     }
        // }

        p {
            max-width: 95%;
            font-weight: 300;
            font-style: italic;
            line-height: 3rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}
