#Blog {
    .blurb {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 100%;
        padding: 0 2rem;
        @media only screen and (min-width: 654px) {
            & {
                align-items: flex-start;
            }
        }
        @media only screen and (max-width: 653px) {
            & {
                align-items: center;
            }
        }

        p {
            max-width: 95%;
            font-weight: 300;
            font-style: italic;
            line-height: 3rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .posts {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        margin-bottom: 5rem;
        align-items: center;

        @media only screen and (min-width: 1145px) {
            flex-direction: row;
            justify-content: center;
        }

        @media only screen and (max-width: 1144px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

        // @media only screen and (max-width: 1264px) {
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: center;
        //     & > :not(:first-child) {
        //         width: 100%;
        //     }
        // }

        // & > :first-child {
        //     width: 100%;
        //     @media only screen and (min-width: 642px) {
        //         & {
        //             height: 30rem;
        //         }
        //     }
        //     @media only screen and (max-width: 641px) {
        //         height: max-content;
        //     }
        //     margin-bottom: 5rem;
        // }

        // & > :not(:first-child) {
        //     @media only screen and (min-width: 1265px) {
        //         & {
        //             height: 25rem;
        //         }
        //     }

        //     @media only screen and (max-width: 1264px) and (min-width: 642px) {
        //         & {
        //             height: 30rem;
        //         }
        //     }
        //     @media only screen and (max-width: 641px) {
        //         height: max-content;
        //     }
        // }
    }
}
