#Commercial {
    h1,
    h2 {
        text-transform: uppercase;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        color: black;
        font-size: 1.5rem;
    }

    & > div:not(.hero) {
        margin-top: 5rem;
        max-width: 98%;
        display: flex;
    }

    .blurb {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        p {
            max-width: 95%;
            font-weight: 300;
            font-style: italic;
            line-height: 3rem;
            text-align: center;
            font-size: 1.5rem;
            margin: 2rem 0;
        }
    }

    .cards {
        margin-bottom: 10rem;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        align-items: center;
        justify-content: center;
    }
}

.CommercialCard {
    background-color: transparent;
    perspective: 1000px;
    max-width: 95vw;
    width: 400px;
    height: 533px;
    // max-height: 533px;
    min-height: 283px;
    min-width: 250px;

    flex: 0 0 400px;

    margin-top: 1rem;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: top 0.6s ease;
    transition: max-height 0.6s ease;
    transition: height 0.6s ease;

    .innerCard {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        transform: rotateY(180deg);
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3),
            0 12px 40px 0 rgba(0, 0, 0, 0.29);

        .frontCard,
        .backCard {
            position: absolute;
            width: 100%;
            border-radius: 10px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .frontCard {
            padding: 0 2rem;
            height: 100%;
            text-align: center;
            z-index: 30;
            transform: rotateY(180deg);
            .imgContainer {
                width: 50%;
                img {
                    width: 95%;
                    height: auto;
                }
            }
            p {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        .backCard {
            height: 50%;
            overflow: hidden;
            transition: height 0.6s ease;
            .imgContainer {
                width: 100%;
                max-height: 20rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }

                img[alt="Healthcare"] {
                    margin-top: -10rem;
                }
            }

            ul {
                margin: 2rem;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                transition: gap 0.6s ease;
                gap: 0;
                li {
                    font-size: 1.1rem;
                }
            }
        }
    }
    &:hover {
        top: 10px;
        &.SafeDistancing {
            height: 750px;
        }

        &:not(.SafeDistancing) {
            height: 1250px;
        }

        .backCard {
            &.SafeDistancing {
                height: 750px;
            }

            &:not(.SafeDistancing) {
                height: 1250px;
            }

            ul {
                gap: 2rem;
            }
        }

        max-height: 100vh;
        .innerCard {
            transform: rotateY(0deg);
            box-shadow: 0 4px 8px 0 rgba(43.9, 43.9, 43.9, 0.2),
                0 6px 20px 0 rgba(43.9, 43.9, 43.9, 0.2);
        }
    }
}
