.page {
    max-width: 1366px;
    width: 100%;
    // Causes horizontal scrollbar
    // min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;

    .hero {
        width: 100%;
        z-index: 1;
        position: relative;
        .imgContainer {
            width: 100%;
            max-height: 30rem;
            height: min-content;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            z-index: 1;

            img {
                width: 100%;
                z-index: 1;
            }
            .filter {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }
    }

    .blurb {
        p {
            margin: auto;
        }
    }
}
