:root {
    --orange: #FFA800;
    --gray: #888C8D;
    --offwhite: #F2F2F2;
    --orangeOpaque: rgba(255, 170, 0, 0.7);
}

@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Bold.ttf)
}

@font-face {
    font-family: Arimo-Italic;
    src: url(../fonts/Arimo-Italic.ttf)
}

@font-face {
    font-family: Arimo-Regular;
    src: url(../fonts/Arimo-Regular.ttf)
}

@media only screen and ( min-width: 1200px )
{
    #main > h1 {
        margin-left: 0.5em;
        margin-bottom: 0.75em;
    }

    #pageDescription { 
        margin-left: 1em;
        color: var(--orange);
        line-height: 1.5em;
        font-size: 1.5em;
        width: 40em;
    }

    #container {
        margin-left: 1em;
        margin-top: 8em;
    }

    #banner {
        width: 100%;
        height: 450px;
    }

    #bannerImgContainer {
        overflow: hidden;
    }

    .banner {
        transition: transform .2s; 
    }

    a.blogLink {
        text-decoration: none;
        display: inline;
        overflow: hidden;
    }

    #newest {
        width: 100%;
        height: 450px;
        color: white;
        position: relative;
    }

    #newest > div#newestDescription {
        background-color: var(--orangeOpaque);
        padding-left: 1.25em;
        padding-right: 5em;
        padding-top: 2em;
        padding-bottom: 1em;
        margin-top: 8em;
        z-index: 20;
        position: absolute;
        left: 35.25em;
        width: 35em;
    }

    #newest > div > p {
        font-size: 1em;
        line-height: 1.5em;
    }

    .older > div > p > span {
        color: var(--orange);
    }

    a:not(#newest) > div > h2 {
        color: black;
    }

    a:not(#newest) > div > p {
        color: var(--gray);
    }

    a:not(#newest) > div > p > span {
        color: var(--orange);
    }

    .horizontal {
        display: inline-flex;
    }

    .horizontal:not(:last-of-type) {
        margin-bottom: 5em;
    }

    .horizontal:last-of-type {
        margin-bottom: 10em;
    }


    .horizontal:first-of-type {
        margin-top: 10em;
    }

    .horizontal > a:not(:last-of-type) {
        margin-right: 3.5em;
    }

    .horizontal > a, .horizontal > a > div > img {
        width: 590px;
    }

    .horizontal > a > div.imgContainer {
        overflow: hidden;
        height: 188px;
    }

    .horizontal > a > div > h2 {
        font-size: 1.25em;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .horizontal > a > div > p {
        line-height: 1.5em;
        margin-top: 1em;
    }

    .imgContainer > img:hover {
        transform: scale(1.1);
    }

    #loadSnackbar {
        visibility: hidden;
        width: 250px;
        background-color: var(--gray);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: sticky;
        z-index: 1;
        margin: 0 auto;
        bottom: 250px;
        font-size: 17px;
        margin-bottom: 8em;
    }

    #loadSnackbar.show {
        transition: opacity 1;
    }

    #loadSnackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    #loadSnackbar:hover {
        cursor: pointer;
    }

    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 250px; opacity: 1;}
    }
    
    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 250px; opacity: 1;}
    }
    
    @-webkit-keyframes fadeout {
      from {bottom: 250px; opacity: 1;} 
      to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
      from {bottom: 250px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
}