.BlogLink {
    display: flex;
    gap: 0;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 4px 8px 8px rgba(44, 44, 44, 0.5);
    background-color: #c4c4c4;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.01);
        box-shadow: 8px 12px 12px rgba(44, 44, 44, 0.5);
    }

    &:first-child {
        .description {
            background-color: rgba(255, 169, 0, 0.7);
        }
    }

    &:not(:first-child) {
        .description {
            background-color: rgba(44, 44, 44, 0.9);
        }
    }

    // Large
    // @media only screen and (min-width: 30000px) {
    &.large {
        flex-direction: row;
        width: calc(100% - 4rem);
        // width: calc(100% - 2rem);
        // width: 100%;
        max-width: 95vw;
        height: 30rem;
        .imgContainer {
            width: 70%;
            height: 100%;
        }

        .description {
            width: 30%;
            height: 100%;
        }

        // @media only screen and (max-width: 1366px) {
        //     .imgContainer,
        //     .description {
        //         width: 50%;
        //     }
        // }
    }

    // Small
    // @media only screen and (min-width: 0) {
    &.small {
        flex-direction: column;
        width: clamp(200px, 700px, 95vw);
        // height: clamp(max-content, 600px, 800px);

        height: 600px;
        .imgContainer {
            width: 100%;
            height: 50%;
        }

        .description {
            height: 50%;
            width: 100%;
        }
    }

    &.tiny {
        height: 600px;
        flex-direction: column;
        width: 95%;

        @media only screen and (min-width: 480px) {
            .imgContainer {
                height: 40%;
            }
            .description {
                height: 60%;
            }
        }

        @media only screen and (max-width: 479px) {
            .imgContainer {
                height: 30%;
            }
            .description {
                height: 70%;
            }
        }
        .imgContainer {
            width: 100%;
        }

        .description {
            width: 100%;
        }
    }

    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            min-width: 100%;
            min-height: 100%;
            transition: all 0.3s ease;
        }
    }

    .description {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        h2,
        p,
        span {
            color: white;
        }
        span {
            font-size: 1.3rem;
        }

        .secondary {
            // perspective: 100px;
            width: clamp(200px, 70%, 20rem);
            align-self: flex-end;
            font-size: 1rem;
            text-transform: uppercase;
            font-family: Arimo;

            &:hover,
            &:focus,
            &:active {
                color: black;
                transform: scale(1.05);
            }
        }
    }
}
