footer#Footer {
    max-width: 85%;
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        width: 90%;

        .locationContainer {
            display: flex;
            gap: 2rem;
            text-transform: uppercase;
            font-size: 1.25rem;
            .imgContainer {
                width: 2.5rem;
                img {
                    width: 100%;
                }
            }
        }

        .socialMedia {
            display: flex;
            gap: 1rem;

            a {
                width: 2.5rem;
                transition: 0.3s ease-in-out;
                img {
                    width: 100%;
                }
            }

            a:hover {
                transform: scale(1.05);
            }
        }
    }

    h3 {
        span {
            font-family: Arimo;
            font-size: 1.5rem;
        }
    }
    p {
        font-weight: 300;
        font-size: 1.5rem;
        text-align: center;
    }
}
