@import "../assets/scss/colors.scss";

.Review {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;

    gap: 2rem;
    margin: 0 5rem;
    // justify-content: center;
    align-items: center;
    width: 95%;

    h2 {
        border-bottom: 3px solid $orange;
        padding-bottom: 0.5rem;
        // width: max-content;
        max-width: 20rem;
        transition: all 0.3s ease;
    }

    .rating {
        position: absolute;
        height: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 5%;
        img {
            height: 100%;
        }
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
            color: white;
            font-family: Arimo;
        }
    }

    &:nth-of-type(odd) {
        flex-direction: row;
        h2 {
            padding-right: 3rem;
        }

        .contents {
            &::after {
                border-left: 0;
                left: 10%;
                margin-left: -10px;
            }
            .imgContainer {
                transform: rotateZ(180deg);
                right: -1.5rem;
            }
            .rating {
                left: 2%;
            }
        }
    }

    &:nth-of-type(even) {
        flex-direction: row-reverse;
        h2 {
            padding-left: 3rem;
        }

        .contents {
            &::after {
                border-right: 0;
                right: 10%;
                margin-right: -10px;
            }
            .imgContainer {
                left: -1.5rem;
            }
            .rating {
                right: 2%;
            }
        }
    }

    .contents {
        align-self: center;
        justify-self: center;
        border-radius: 0.25rem;
        box-shadow: 8px 8px 12px rgba(43.9, 43.9, 43.9, 0.2);
        background-color: $gray;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media only screen and (min-width: 852px) {
            max-width: 800px;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 5rem;
            padding-right: 5rem;
        }

        @media only screen and (max-width: 851px) and (min-width: 480px) {
            max-width: calc(100% - 4rem);
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @media only screen and (max-width: 479px) {
            max-width: calc(100% - 2rem);
            justify-content: center;
            align-items: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        display: flex;
        flex-direction: column;
        max-height: 100vh;

        // max-height: 15rem;
        // overflow: hidden;
        position: relative;
        border: none;
        transition: all 0.3s ease;

        &::after {
            transition: all 0.3s ease;
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-top-color: $gray;
            border-bottom: 0;
            // hides the border as the border appears lighter than the background color
            margin-bottom: -24px;
            // box-shadow: 8px 8px 12px rgba(43.9, 43.9, 43.9, 0.2);
            filter: drop-shadow(8px 8px 12px rgba(43.9, 43.9, 43.9, 0.2));
        }

        .imgContainer {
            position: absolute;
            top: -1.5rem;
            width: 75px;
            height: max-content;
            img {
                width: 100%;
                height: auto;
                transition: all 0.3s ease;
                filter: drop-shadow(8px 8px 12px rgba(43.9, 43.9, 43.9, 0.2));
            }
        }

        p {
            // height: calc(100% - 12rem);
            // overflow: hidden;
            overflow-y: hidden;
            font-style: italic;
            padding-right: 0.25rem;
            line-height: 2rem;
            transition: all 0.3s ease;

            &.show {
                height: max-content;
            }
        }

        p,
        div {
            color: white;
        }

        .tail {
            margin-bottom: -1rem;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                span {
                    opacity: 1;
                }
            }
            .DropdownArrow {
                height: 2rem;
            }
            span {
                transition: all 0.3s ease;
                opacity: 0;
                color: white;
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }

    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.01);
        h2 {
            filter: drop-shadow(8px 8px 12px rgba(44, 44, 44, 0.3));
        }

        .contents {
            box-shadow: 8px 8px 14px rgba(44, 44, 44, 0.5);
            &::after {
                filter: drop-shadow(8px 8px 14px rgba(43.9, 43.9, 43.9, 0.5));
            }
            img {
                filter: drop-shadow(8px 8px 14px rgba(43.9, 43.9, 43.9, 0.5));
            }
        }
    }
}
