<footer>
    <hr />
    <div id="footerContents">
        <div id="leftFooter">
            <div id="location">
                <div id="locationImg">
                    <img class="footerImg" alt="location" src="/img/location.png" />
                </div>
                <h3 class="footerHdr">OAKVILLE, ONTARIO</h3>
            </div>
            <h3 class="footerHdr">
                Helping people find the
                perfect window or door
                for their home since 2010
            </h3>
        </div>
        <div id="rightFooter">
            <span id="social">
                <a href="#"><img class="social footerImg" id="instagram" alt="instagram" src="/img/instagramOrange.png" /></a>
                <a href="#"><img class="social footerImg" id="facebook" alt="facebook" src="/img/facebookOrange.png" /></a>
                <a href="#"><img class="social footerImg" id="twitter" alt="twitter" src="/img/twitterOrange.png" /></a>
                <a href="#"><img class="social footerImg" id="linkedIn" alt="linkedIn" src="/img/linkedInOrange.png" /></a>
                <a href="#"><img class="social footerImg" id="email" alt="email" src="/img/emailOrange.png" /></a>
            </span>
            <div id="footerNav">
                <div>
                    <a href="/services/"><h3 class="footerHdr">SERVICES</h3></a>
                    <a href="/commercial/"><h3 class="footerHdr">COMMERCIAL</h3></a>
                </div>
                <div>
                    <a href="/"><h3 class="footerHdr">HOME</h3></a>
                    <a href="/testimonials/"><h3 class="footerHdr">TESTIMONIALS</h3></a>
                </div>
                <div>
                    <a href="/blog/"><h3 class="footerHdr">BLOG</h3></a>
                    <a href="/contact/"><h3 class="footerHdr">CONTACT</h3></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>        
</html>