<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            {{ if eq .IsHome false }}
                {{ .Title }} &middot;
            {{ end }}
            {{ .Site.Title }}
        </title>
        <meta charset="utf-8" />
        <meta name="author" content="Oakville WIndows & Doors"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {{ if eq .IsHome false }} 
        <meta name="description" content="{{ .Params.description }}"/>
        {{ else }}
        <meta name="description" content="Oakville Windows & Doors is a small family business which sells directly to the public. No commission or high-pressure sales tactics. Our team is made up of caring, personable individuals with a dedication to our customers and to our company."/>
        {{ end }}
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
        <link rel="icon" type="image/x-icon" href="/img/favicon.png"/>
        <script type="text/javascript" src="/js/script.js"></script>    
    </head>
    <body>
        <nav>
            <img src="/img/logo.png" alt="logo" id="logo" />
            <ul id="nav">
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                    {{ $active := "" }}
                    {{ if or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                        {{ $active = "selected" }}
                    {{ end }}
                    <li><a class="{{ $active }}" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
